.padd10{
    padding: 10px;
}

.text-center{
    text-align: center;
}

.h2, h2{
    font-size: 1.45rem;
}

.h3, h3{
    font-size: 1.2rem;
}

.h4, h4{
    font-size: 1.05rem;
}

.hidden{
    display: none;
}